APP_NAME=shift_test_task
HOST_PORT=8899
DB_NAME=postgres
DB_USER=user
DB_HOST=localhost
DB_PORT=5432
DB_PASS=password
DATABASE_ECHO=0
DEBUG=0
SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=60
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin
ADMIN_FULL_NAME=Администратор
